
body {
   top-margin:       0px;
   font-family:      Ubuntu, sans-serif;
}

#panel {
   height:           10%;
   width:            100%;
   /*border-style:     solid;*/
}

#messanger-img {
   float:            left;
}

#branding {
   width:            15%;
   float:            left;
}

#word-onering {
   font-size:        150%;
   color:            #fe9542;
   float:            right;

}

#word-by-icloak {
   float:            right;
}

#word-messenger-chat {
   padding-top:      10px;
   padding-left:     10px;
   color:            #117F98;
   float:            left;
}

#word-by {
   clear:            both;
   display:          inline-block;
   float:            none;
}
