<!DOCTYPE html>
<html>

<head>
   <link rel='stylesheet' type='text/css' href='index.css'>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>

   <script src='index.js'></script>
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
</head>
<body ng-app='messanger'>

<nav id='panel'>
   <img id='messanger-img' src='imgs/icon.jpg'></img>

   <div id='branding'>
      <div id='word-onering'>
         ONERING
      </div>
      <div id='word-by-icloak'>
         by <b><!--ICLOAK-->RMS</b>
      </div>
   </div>

   <div id='word-messenger-chat'>
      messenger chat
   </div>
</nav>

<div id='messanger' ng-controller='messages'>
   <table id='message-container'>
      <tr ng-repeat="x in chat">
         <td class='chatter-name' style='color: {{x.color}}'>
            {{ x.name }} :
         </td> 
         <td>{{ x.msg  }}</td>
      </tr>
   </table>

   <div id='message-input'>
      <input ng-model='messageValue' type='textarea'></input>
      <button ng-click='sendMessage()'>Send</button>

   </div>
</div>

</body>
</html>
